
<div *ngIf="userList">
    <h2><span>User List</span> {{userList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Main</span></dt>
        <dd>
            <span>{{userList.main}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{userList.userLogin}}
        </dd>
        <dt><span>Todo List</span></dt>
        <dd>
            <div *ngIf="userList.todoListId">
                <a [routerLink]="['/todo-list', userList.todoListId]">{{userList.todoListId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-list/'+ userList.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
